*.tar.gz
*.retry

__pycache__/

/target
/deps/target
/awx/target
/everything/target
/bug_debops/target
/deprecate/target
/cloner/requirements.sh
/cloner/download/
/role_compat/target/
/scm_requirements/target/
