[submodule "awx/ansible.amazon"]
	path = awx/ansible.amazon
	url = https://github.com/ansible-collections/ansible.amazon.git
[submodule "awx/openstack.cloud"]
	path = awx/openstack.cloud
	url = https://github.com/openstack/ansible-collections-openstack.git
[submodule "awx/community.vmware"]
	path = awx/community.vmware
	url = https://github.com/ansible-collections/vmware.git
[submodule "awx/theforeman.foreman"]
	path = awx/theforeman.foreman
	url = https://github.com/theforeman/foreman-ansible-modules.git
[submodule "awx/community.general"]
	path = awx/community.general
	url = https://github.com/ansible-collection-migration/community.general.git
[submodule "awx/community.netcommon"]
	path = awx/community.netcommon
	url = https://github.com/ansible-collection-migration/ansible.netcommon.git
